* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #111;
  color: aliceblue;
}

nav {
  position: sticky;
  top: 0;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  background: #333;
}

nav > a:link {
  color: aliceblue;
  text-decoration: none;
}

.about-me {
  padding: 2em;
}

.about-me > p {
  max-width: 60ch;
}

.projects {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: start;
  align-items: stretch;
}

.projects > .card {
  background: #333;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

@media only screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: static;
    gap: 1.5em;
  }

  .projects > .card {
    background: #ccddd3;
    color: #222;
  }
  .projects {
    gap: 1em;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
    nav {
        flex-direction: row;
    }

    .projects>.card {
        background:#AFC2D5;
        color:#333;
    }

    .projects {
        gap:2em;
    }
}

@media only screen and (min-width:800px){
    .projects>.card {
        background: #FFF9A5;
        color:#333;
    }

    .projects {
        max-width:75%;
        margin:auto;
    }
}
